{{partials/header}}

<h1>Editar Usuario</h1>

<form action="/Editar/{{id}}" method="POST">

    nome: <br>
    <input type="text" name="nome" value="{{user.nome}}"> <br>
    email: <br>
    <input type="email" name="email" value="{{user.email}}"><br><br>
    <input type="submit" value="Editar">

</form>

<a href="/usuarios">Clique aqui</a> para voltar a página de usuários

{{<partials/footer}}